<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>REfresh javascript</h1>
    <!-- <script>
        var s='hai'
   
        console.log('outside ->',s)
        var s="hhhhhhhhhhh"
        console.log('mmmm ->',s)
    </script> -->


    <!-- {
        let s='welcome'
        console.log('inside ->',s)
    } -->


    <!-- var x=6 
    console.log('inside ->',x)
    let x=9
    console.log('inside ->',x) -->

    <!-- <script>
        let x = 11
        console.log('outside ->', x)
        {
            let x = 6
            console.log('inside ->', x)

        }

    </script> -->

<!-- <script>

    for(var a=1;a<10;a++)
    {
        console.log(a)
    }
</script> -->


<script>
    stud={fname:'ammu',place:'eklm',age:56}
    s=[11,22,33,44]
    for(var a in stud){
        console.log(stud[a])
    }
console.log('.......................')
    for(var c in s)
    {
        console.log(s[c])
    }
    console.log('.......................')

    for(var q of s){
        console.log(q)
    }
</script>



</body>

</html>