<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VIEW STUDENT LIST</h1>
    <table border="2px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Eamil</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.email }}</td>
                <td>
                    <a href="http://127.0.0.1:5000/sd/{{i.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>