<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>STUD REGISTER</h1>
    <form action="" method="post">

        <label for="">Enter Name</label>
        <input type="text" name="fname"> <br>
        <label for="">Enter Email</label>
        <input type="email" name="em"> <br>
        <label for="">Enter Phone</label>
        <input type="number" name="ph"> <br>
        <input type="submit" value="SIGN UP">

    </form>
</body>
</html>